<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FeedbackServlet</display-name>
  <welcome-file-list>
    <welcome-file>feedback.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>FeedbackServlet</servlet-name>
  <servlet-class>Servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FeedbackServlet</servlet-name>
  <url-pattern>/submitFeedback</url-pattern>
  </servlet-mapping>
</web-app>